
.nav-a {
    color: #128410
    font-size: 20px;
}

.active {
    color: #f50808;
}
.car-descr {
    font-size: 24px;
    color: #20FF0D;
    ;
}
.info {
    font-size: ;
    color: white;
    background-color: #D41EF2;

}
.description {
    color: white;
    background-color: #D41EF2;
    font-size: ;
}
.text {
    color: #D41EF2;
    font-size: 24px;

}
.descr1 {
    color:#821095;
    font-size: 36;

}